[Desktop Entry]
Version=1.0
Name=Blockade 
Comment=Blockade P2P Cryptocurrency
Comment[fr]=Blockade, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Blockade, eşten eşe kriptografik sanal para birimi
Exec=blockade-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/blockade;
Categories=Office;Finance;
StartupWMClass=blockade-qt
